.first_section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.first_section h1 {
  font-family: "ClashGrotesk-Semibold";
  font-size: 95px;
  color: black;
  z-index: 10;
  font-weight: 900;
  width: 70%;
  text-align: center;
  line-height: 90px;
  margin-top: 70px;
  font-stretch: extra-expanded;
}

.orange_text {
  color: #ff9000;
}
.bg {
  position: absolute;
  width: 100%;
  left: 0px;
  opacity: 0.5;
}
.orange_blob {
  position: absolute;
  width: 100%;
  top: -500px;
  right: -200px;
}
.orange_blob_1 {
  position: absolute;
  width: 100%;
  top: -500px;
  right: -200px;
}
.green_blob {
  position: absolute;
  width: 150%;
  bottom: -120%;
  right: -75%;
}
.triangle {
  width: 400px;
  position: absolute;
  right: -50px;
  bottom: 0px;
}
.search_bar_container {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}
.search_bar {
  height: 74px;
  width: 80%;
  background-color: white;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.158);
}
.search_btn {
  background-color: #ff9000;
  height: 74px;
  width: 20%;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_btn p {
  color: white;
  font-family: "DMSans-Regular";
  font-size: 18px;
}
