.list_property_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  padding-top: 40px;
}
.left_panel {
  width: 560px;
  height: 584px;
  border: 1px solid rgb(89, 89, 89) !important;
  background-color: var(--background) !important;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left_panel h2 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  font-family: "ClashGrotesk-Semibold";
  color: #000000;
  margin-bottom: 15px;
}
.left_panel h3 {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: "DMSans-Regular";
  color: #000000;
  margin-bottom: 15px;
}
.left_panel p {
  font-size: 16px;
  text-align: center;
  font-family: "ClashGrotesk-Regular";
  color: #000000;
  width: 90%;
  line-height: 30px;
}
.btn_filled {
  width: 81%;
  height: 46px;
  background: #ff9000;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: ease-in-out 200ms;
  margin-top: 40px;
}
.btn_filled p {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1rem !important;
  font-family: "DMSans-Regular" !important;

  color: #ffffff !important;
}
.btn_filled:hover {
  background: #ffb95d;
  cursor: pointer;
}
.top_left {
  width: 110px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 30px !important;
}
.bottom_right {
  width: 110px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 30px !important;
}
.right_panel {
  width: 45%;
  height: 75%;
  max-width: 500px;
}
.heading {
  font-size: 24px;
  font-family: "ClashGrotesk-Semibold";
  margin-bottom: 10px !important;
}
.sub_heading {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--orangeText) !important;
}
.right_panel span {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--greenText) !important;
}
.step_active {
  min-width: 24px;
  min-height: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 500px;
  margin-right: 7px;
  margin-left: 7px;
  background-color: var(--orangeText) !important;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.step_active p {
  color: var(--whiteText) !important;
  font-size: 13px;
  margin-left: 8px;
  margin-top: 4px;
  transition: ease-in-out 200ms;
}
.step_inactive {
  min-width: 24px;
  min-height: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 500px;
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
  transition: ease-in-out 200ms;

  background-color: var(--greyText) !important;
}
.step_inactive p {
  color: var(--background) !important;
  font-size: 13px;
  margin-left: 8px;
  margin-top: 4px;
  transition: ease-in-out 200ms;
}
.dashed_line {
  width: 40px;
  height: 1px;
  padding-left: 7px;
  padding-right: 7px;
  border-top: 1px dashed grey;
}
.step_done {
  min-width: 24px;
  min-height: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 500px;
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
  transition: ease-in-out 200ms;

  background-color: var(--greenText) !important;
}
.step_done p {
  margin-left: 8px;
  margin-top: 4px;
  color: var(--whiteText) !important;
  font-size: 13px;
  transition: ease-in-out 200ms;
}
.stepper_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
}

.terms_services_text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "DMSans-Regular";
  margin-top: 14px;
  margin-bottom: 30px !important;
}
.terms_services_text span {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  font-family: "DMSans-Regular" !important;
  margin-top: 14px !important;
  color: var(--orangeText) !important;
  text-transform: capitalize !important;
  word-spacing: initial !important;
  letter-spacing: initial !important;
}

@media only screen and (max-width: 1112px) {
  .list_property_section {
    flex-direction: column-reverse;
    margin-top: 60px;
    row-gap: 100px;
    height: fit-content;
  }
  .right_panel {
    width: 90%;
    max-width: initial;
  }
  .left_panel {
    min-width: initial;
    max-width: initial;
    width: 90%;
    border: 1px solid rgb(89, 89, 89) !important;
    background-color: var(--background) !important;
  }
  .top_left {
    width: 60px;
  }
  .bottom_right {
    width: 60px;
  }
}
