.navbar_body,
.navbar_body_opaque {
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  transition: background-color 200ms linear;
  position: fixed;
}
.navbar_body_opaque {
  background-color: var(--nav-bar-color) !important;
  /* box-shadow: 0px 0px 30px rgba(127, 127, 127, 0.334); */
}
.profile_menu {
  opacity: 1;
  height: 110px;
  width: 220px;
  position: absolute;
  right: -220px;
  top: -0px;
  background-color: transparent;
  transition: ease-in-out 140ms;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.logo_orange {
  color: var(--orangeText) !important;
}
.single_btn {
  height: 50%;
  width: 100%;
  transition: ease-in-out 200ms;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.single_btn p {
  color: white;
  font-family: "AGENCYB";
}
.single_btn:hover {
  background-color: rgba(41, 119, 126, 0.759);
  transition: ease-in-out 200ms;
}

.right_panel,
.left_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.right_panel {
  width: 50%;
  justify-content: flex-end;
  column-gap: 15px;
}
.navbar_body p {
  cursor: pointer;
  /* color: white; */
  transition: ease-in-out 200ms;
}
.navbar_body_opaque p {
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.left_panel {
  width: 44%;
  justify-content: left;
  padding-left: 0px;
}
.logo {
  color: #266867;
  font-family: "DMSans-Bold";
  font-size: 38px;
}
.left_panel_btns p {
  color: #000000;
  font-family: "DMSans-Regular";
  font-size: 15px;
}
.left_panel_btns p:nth-child(1) {
  color: var(--orangeText) !important;
  font-family: "DMSans-Regular";
  font-size: 18px;
}
.left_panel_btns {
  height: 100%;
  width: fit-content;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.get_started_btn {
  background-color: #ff9000;
  width: 160.61px;
  height: 47.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  transition: ease-in-out 200ms;
}
.get_started_btn:hover {
  background-color: #ffad41;
  cursor: pointer;
}
.get_started_btn p {
  color: white !important;
  font-family: "DMSans-Regular";
  font-size: 15px;
}
.right_panel p {
  color: #000000;
  font-family: "DMSans-Regular";
  font-size: 15px;
}
.right_panel .icon:nth-child(3) {
  margin-right: 30px;
  opacity: 0.4;
}
.icon {
  width: 20px;
  margin-left: 15px;
}
.panel_container {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  display: flex;
  /* backdrop-filter: blur(10px); */
  align-items: center;
  /* justify-content: center; */
  row-gap: 15px;
  padding-top: 40px;
  flex-direction: column;
  /* border-left: 2px solid rgb(221, 255, 255); */
  box-shadow: 0px 0px 20px rgb(179, 179, 179);
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
.panel_container::-webkit-scrollbar {
  /* WebKit for hiding scrollbar */
  width: 0;
  height: 0;
}
.divider {
  width: 90%;
  height: 1px;
  background-color: var(--orangeText);
}
.nav_menu_content {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-left: 35px;
  display: flex;
  row-gap: 25px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: ease-in-out 100ms !important;
}
.nav_menu_content p {
  font-size: 13px;
}

@media screen and (max-width: 786px) {
  .right_panel {
    display: none;
  }

  .left_panel {
    padding-left: 0px;
    justify-content: center;
  }
  .menu_icon {
    display: flex;
    position: absolute;
    top: 25px;
    left: 25px;
    max-width: 35px;
  }
  .navbar_body,
  .navbar_body_opaque {
    height: 80px;
  }
}
