.chat_screen_section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  background-color: var(--background) !important;
}
.chat_screen_content_section {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 90%;
  column-gap: 20px;
}
.left_panel {
  width: 30%;
  height: 100%;
  background-color: var(--nav-bar-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.left_panel h2 {
  font-family: "ClashGrotesk-Semibold" !important;
  font-size: 24px;
  width: 100%;
  margin-top: 30px;
  margin-left: 80px;
}
.list {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.right_panel {
  width: 70%;
  height: 100%;
  background-color: var(--nav-bar-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.top_banner {
  height: 80px;
  width: 94%;
  border-bottom: 1px solid rgba(179, 179, 179, 0.25);
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  position: relative;
}
.back_arrow {
  display: none;
}
.contact_tab {
  width: 100%;
  min-height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: ease-in-out 200ms;
  /* border-bottom: 1px solid rgba(179, 179, 179, 0.25); */
  column-gap: 20px;
  padding-left: 15px;
}
.divider {
  min-height: 1px;
  width: 87%;
  background-color: rgba(179, 179, 179, 0.25);
}
.user_img {
  width: 45px;
  height: 45px;
  border-radius: 500px;
}
.name_text {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
  position: relative;
  /* align-items: center; */
}
.name_title {
  font-size: 16px;
  line-height: 21px;
  color: var(--orangeText) !important;
  font-family: "DMSans-Medium";
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--foreground) !important;
  font-family: "DMSans-Regular";
}
.contact_tab:hover {
  background-color: rgba(179, 179, 179, 0.15) !important;
  cursor: pointer;
}
.contact_tab_selected {
  min-height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: ease-in-out 200ms;
  column-gap: 20px;
  padding-left: 15px;
  background-color: rgba(179, 179, 179, 0.269) !important;
  width: 100%;
}
.duration {
  position: absolute;
  top: 45%;
  right: 10px;
  font-family: "DMSans-Regular";
  font-size: 13px;
  color: rgba(179, 179, 179, 0.75) !important;
}
.right_panel p {
  font-size: 22px;
  line-height: 74px;
  display: flex;
  align-items: center;
  color: var(--foreground) !important;
  font-family: "DMSans-Medium";
}
.chat_panel {
  height: 68%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  row-gap: 20px;
  max-height: 68%;
  overflow-y: scroll;
}
.chat_panel_mobile {
  height: 68%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  row-gap: 20px;
  max-height: 68%;
  overflow-y: scroll;
}
.msg_section {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msg_content {
  width: 92%;
  height: 95%;
  background-color: var(--background);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid var(--whiteText);
}
.text_input {
  height: 60%;
  width: 80%;
  border: none;
  padding: 20px;
  font-family: "DMSans-Regular";
  background-color: var(--background);
  color: var(--foreground) !important;
}
.text_input:focus {
  outline: none !important;
}
.msg_section img {
  width: 25%;
  margin-right: -20px;
  transition: ease-in-out 200ms;
}
.msg_section img:hover {
  opacity: 0.5;
  cursor: pointer;
}
.msg_container_left {
  width: 100%;
  min-height: 38px;
  position: relative;
  height: fit-content !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.msg_container_right {
  min-height: 38px;

  width: 100%;
  position: relative;
  height: fit-content !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.left_msg {
  left: 0px;
  width: 40%;
  max-width: 350px;
  width: fit-content;

  height: fit-content;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: var(--orangeText) !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
}
.right_msg {
  right: 0px;
  max-width: 350px;
  height: fit-content;
  width: fit-content;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background: #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
}
.left_msg .msg_text {
  color: white !important;
}
.right_msg .msg_text {
  color: var(--blackText) !important;
}
.msg_text {
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0.005em !important;
  color: var(--blackText) !important;
  font-family: "DMSans-Regular" !important;
}
@media only screen and (max-width: 1135px) {
  .chat_screen_section {
    height: 91vh;
  }
  .chat_screen_content_section {
    width: 100%;
    height: 100%;
  }
  .duration {
    top: 20%;
  }
  .text {
    width: 80%;
  }
  .left_panel {
    width: 40%;
  }
  .right_panel {
    width: 60%;
  }
}
@media only screen and (max-width: 786px) {
  .top_banner {
    height: 10%;
    width: 94%;
    border-bottom: 1px solid rgba(179, 179, 179, 0.25);
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    position: relative;
  }
  .chat_screen_content_section {
    column-gap: 0px;
  }
  .left_panel {
    width: 100%;
    position: relative;
  }
  .right_panel {
    width: 100%;
  }
  .text_input {
    height: 18px;
    width: 100%;
    border-radius: 500px;
  }
  .msg_content {
    height: 40px;
    border-radius: 500px;
  }
  .msg_section {
    border-radius: 500px;
  }
  .msg_content img {
    width: 0%;
    display: none !important;
  }
  .back_arrow {
    position: absolute;
    top: 30px;
    width: 25px;
    display: flex;
    right: 20px;
  }
  .msg_section_mobile {
    width: 90%;
    position: relative;
    height: fit-content;
    margin-bottom: 14px;
  }
  .mobile_msg_send {
    position: absolute;
    right: 7px;
    width: 30px;
    top: 6px;
    border-radius: 500px;
  }
  .text_input_mobile {
    border: none;
    width: 95%;
    height: 40px;
    border-radius: 500px;
    background-color: var(--background) !important;
    padding-left: 20px;
    border: 1px solid var(--foreground);
    color: var(--foreground) !important;
  }
  .text_input_mobile:focus {
    outline: none !important;
  }
  .chat_panel_mobile {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    row-gap: 20px;
    max-height: initial;
    overflow-y: scroll;
  }
  .chat_screen_section {
    margin-top: 0px;
    height: 100vh;
  }
}
