.login_screen_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.carousel_section {
  background-color: var(--lightBackgroundColor);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content_container label {
  color: var(--foreground) !important;
}
.content_section {
  background-color: var(--background);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logo_big {
  width: 150px;
  margin-bottom: 30px;
}
.single_slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}
.single_slide h1 {
  font-family: "DMSans-Bold";
  font-size: 30px;
  color: black;
  margin-bottom: 0px;
}
.single_slide p {
  font-family: "DMSans-Regular";
  color: black;
  margin-bottom: 0px;
  width: 80%;
  text-align: center;
  margin-bottom: 0px;
}
.imgs_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card_imgs {
  max-height: 200px;
}
.signup_text {
  font-size: 16px;
  line-height: 21px;
  margin-top: 14px;
  color: var(--orangeText) !important;
  cursor: pointer;
}
.step_active {
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 500px;
  margin-right: 7px;
  margin-left: 7px;
  background-color: var(--orangeText) !important;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.step_active p {
  color: var(--whiteText) !important;
  font-size: 13px;
  margin-left: 8px;
  margin-top: 4px;
  transition: ease-in-out 200ms;
}
.step_inactive {
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 500px;
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
  transition: ease-in-out 200ms;
  background-color: var(--greyText) !important;
}
.step_inactive p {
  color: var(--background) !important;
  font-size: 13px;
  margin-left: 8px;
  margin-top: 4px;

  transition: ease-in-out 200ms;
}
.dashed_line {
  width: 40px;
  height: 1px;
  padding-left: 7px;
  padding-right: 7px;
  border-top: 1px dashed grey;
}
.step_done {
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 500px;
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
  transition: ease-in-out 200ms;

  background-color: var(--greenText) !important;
}
.step_done p {
  margin-left: 8px;
  margin-top: 4px;
  color: var(--whiteText) !important;
  font-size: 13px;
  transition: ease-in-out 200ms;
}
.stepper_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.upper_triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
}
.lower_triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
}
.content_container {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  margin-top: 40px;
  text-align: left !important;
}
.heading {
  font-family: "DMSans-Bold";
  font-size: 34px;
  color: var(--foreground) !important;
  text-align: left !important;
  width: 100%;
}
.heading span {
  color: var(--orangeText) !important;
}
.bread_crumbs {
  font-size: 16px;
  font-family: "ClashGrotesk-Regular";
  color: var(--greyText) !important;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.bread_crumbs span {
  color: var(--orangeText) !important;
}
.input_field_contaier {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  margin-bottom: 25px;
}
.input_field_contaier label {
  font-size: 14px;
  color: var(--foreground);
  /* margin-bottom: 30px; */
}
.input_field {
  width: 94%;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  height: 44px;
  padding-left: 20px;
}
.input_field:focus {
  border: 1px solid var(--orangeText);
}
.input_field::placeholder {
  color: rgb(179, 179, 179);
}
.single_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.checkbox_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.checkbox {
  height: 15px;
  width: 15px;
  margin-bottom: 0px !important;
  accent-color: var(--orangeText) !important;
}
.checkbox_row p {
  font-size: 14px;
  color: var(--foreground);
}
.forgot_password {
  font-size: 16px;
  color: var(--orangeText) !important;
  font-family: "ClashGrotesk-Medium";
}
.login_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 46px;
  background: #ff9000;
  border: 2px solid #ffb452;
  box-shadow: 0px 13px 13px rgba(177, 177, 177, 0.25);
  border-radius: 100px;
  margin-top: 30px;
  transition: ease-in-out 200ms;
}
.login_btn:hover {
  background: #ffab3c;
  cursor: pointer;
}
.login_btn p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--whiteText) !important;
}
.login_with_google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  min-height: 46px;
  border: 2px solid #ffb452;
  filter: drop-shadow(0px 13px 13px rgba(177, 177, 177, 0.25));
  border-radius: 100px;
  border-radius: 100px;
  margin-top: 10px;
  transition: ease-in-out 200ms;
}
.login_with_google p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.1em;
  color: var(--orangeText) !important;
}
.btn_icon {
  width: 15px;
}
.signup_text {
  font-size: 16px;
  line-height: 21px;
  margin-top: 14px;
  color: var(--orangeText) !important;
}
.back_arrow {
  position: absolute;
  width: 30px;
  display: none;
}
.darkmode_btn {
  position: absolute;
  right: 20px;
  top: 30px;
}
.otp_input_single {
  width: 63px !important;
  height: 63px !important;
  margin-right: 10px;
  background: #f9f9f9;
  border: 1px solid #b1b1b1;
  color: var(--foreground) !important;
  box-shadow: 0px 0px 5px rgba(0, 128, 128, 0.25);
  border-radius: 5px;
  font-size: 20px;
  transition: ease-in-out 200ms;
}
.otp_input_single:focus {
  outline: none !important;
  transition: ease-in-out 200ms;
}
.opt_input_focused {
  width: 63px !important;
  height: 63px !important;
  margin-right: 10px;
  background: #f9f9f9;
  border: 1px solid #008080;
  box-shadow: 0px 0px 5px rgba(0, 128, 128, 0.25);
  border-radius: 5px;
  font-size: 20px;
  transition: ease-in-out 200ms;
}
@media only screen and (max-width: 1157px) {
  .otp_input_single {
    width: 45px !important;
    height: 45px !important;
  }
  .opt_input_focused {
    width: 45px !important;
    height: 45px !important;
  }
}
@media only screen and (max-width: 950px) {
  .carousel_section {
    display: none;
  }
  .content_section {
    width: 100%;
  }
  .content_container {
    width: 87%;
    margin-top: 120px !important;
  }
  .logo {
    top: 30px;
    left: 0;
    right: 0;
    /* bottom: 0; */
    margin: auto;
  }
  .back_arrow {
    position: absolute;
    width: 25px;
    display: flex;
    left: 20px;
    top: 20px;
  }
}
@media only screen and (max-width: 430px) {
  .otp_input_single {
    width: 38px !important;
    height: 38px !important;
  }
  .opt_input_focused {
    width: 38px !important;
    height: 38px !important;
  }
}
