.label_float {
  position: relative;
  padding-top: 13px;
  width: 100%;
  margin-bottom: 15px;
  color: #868686;
}

.label_float input {
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom: 2px solid #868686 !important;
  outline: none;
  min-width: 180px;
  font-size: 20px;
  font-family: "DMSans-Regular" !important;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: transparent;
}

.label_float input:focus {
  border-bottom: 2px solid var(--greenText) !important;
  font-family: "DMSans-Regular" !important;
}

.label_float input::placeholder {
  color: transparent;
  font-family: "DMSans-Regular" !important;
}

.label_float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 26px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  font-family: "DMSans-Regular" !important;
}

.label_float input:required:invalid + label {
  color: red !important;
  font-family: "DMSans-Regular" !important;
}
.label_float input:focus:required:invalid {
  border-bottom: 2px solid red;
  font-family: "DMSans-Regular" !important;
}
.label_float input:required:invalid + label:before {
  content: "*";
}
.label_float input:focus + label,
.label_float input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  font-family: "DMSans-Regular" !important;
  color: var(--greenText) !important;
}

/* FOR WHITE */

.label_float_white {
  position: relative;
  padding-top: 13px;
  width: 100%;
  margin-bottom: 15px;
  font-family: "DMSans-Regular" !important;
}

.label_float_white input {
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom: 2px solid #868686;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 20px;
  background-color: transparent;
  font-family: "DMSans-Regular" !important;
}

.label_float_white input:focus {
  border-bottom: 2px solid #ffffff;
  font-family: "DMSans-Regular" !important;
}

.label_float_white input::placeholder {
  color: transparent;
}

.label_float_white label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 26px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  font-family: "DMSans-Regular" !important;
  -moz-transition: all 0.2s ease-out;
}

.label_float_white input:required:invalid + label {
  color: red !important;
}
.label_float_white input:focus:required:invalid {
  border-bottom: 2px solid red;
  font-family: "DMSans-Regular" !important;
}
.label_float_white input:required:invalid + label:before {
  content: "*";
}
.label_float_white input:focus + label,
.label_float_white input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: #ffffff;
  font-family: "DMSans-Regular" !important;
}

/* FOR RED */

.label_float_red {
  position: relative;
  padding-top: 13px;
  width: 100%;
  margin-bottom: 15px;
}

.label_float_red input {
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom: 2px solid red;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 20px;
  font-family: "DMSans-Regular" !important;
}

.label_float_red input:focus {
  border-bottom: 2px solid red;
  font-family: "DMSans-Regular" !important;
}

.label_float_red input::placeholder {
  color: transparent;
}

.label_float_red label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 26px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
}

.label_float_red input:required:invalid + label {
  color: red !important;
  font-family: "DMSans-Regular" !important;
}
.label_float_red input:focus:required:invalid {
  border-bottom: 2px solid red;
  font-family: "DMSans-Regular" !important;
}
.label_float_red input:required:invalid + label:before {
  content: "*";
}
.label_float_red input:focus + label,
.label_float_red input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: red !important;
  font-family: "DMSans-Regular" !important;
}
