.form_body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.form_heading {
  font-size: 18px;
  line-height: 24px;
  font-family: "ClashGrotesk-Semibold";
  margin-bottom: 20px !important;
}
.subheading {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "DMSans-Regular";
}
.add_life {
  height: 30px;
  border-radius: 500px;
  bottom: 10px;
  left: 10px;
  margin-bottom: 30px;
  width: 98%;
}
.add_life_inner {
  width: 100%;
  height: 100%;
  border-radius: 500px;
  background-color: #e1e1e1;
  position: relative;
}
.ad_life_progress {
  position: absolute;
  left: 10px;
  top: 8px;
  color: var(--whiteText) !important;
  font-family: "DMSans-Regular" !important;
  font-size: 11px;
  padding-left: 12px;
}
.ad_life_text {
  position: absolute;
  right: 15px;
  top: 8px;
  color: var(--blackText) !important;
  font-family: "DMSans-Regular" !important;
  font-size: 12px;
}
.life_progress_bar {
  position: relative;
  width: 40%;
  height: 100%;
  border-radius: 500px;
  background-color: #008080;
}
.property_btns_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
}
.btn_unselected {
  width: 277px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff9000;
  border-radius: 100px;
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.btn_selected {
  width: 277px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #008080;
  border: 1px solid #008080;
  border-radius: 100px;
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.btn_unselected p {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-family: "DMSans-Regular";
  color: var(--orangeText) !important;
}
.btn_selected p {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-family: "DMSans-Regular";
  color: var(--whiteText) !important;
}
.input_container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}
.input_container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: -16px;
  font-family: "DMSans-Regular";
}
.input_field {
  width: 100%;
  height: 44px;
  /* background: rgba(255, 255, 255, 0.11); */
  border: 1px solid #008080;
  border-radius: 4px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: -16px;
  background-color: transparent !important;
}
.input_field::placeholder {
  color: var(--greyText) !important;
}
.terms_services_text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "DMSans-Regular";
  margin-top: 14px;
  margin-bottom: 30px !important;
}
.terms_services_text span {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  font-family: "DMSans-Regular" !important;
  margin-top: 14px !important;
  color: var(--orangeText) !important;
  text-transform: capitalize !important;
  word-spacing: initial !important;
  letter-spacing: initial !important;
  cursor: pointer;
}
.btn_filled {
  width: 103%;
  height: 46px;
  padding-left: 20px;
  margin-left: -20px;
  background: #ff9000;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: ease-in-out 200ms;
}
.btn_filled p {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1rem !important;
  font-family: "DMSans-Regular" !important;

  color: #ffffff !important;
}
.btn_filled:hover {
  background: #ffb95d;
  cursor: pointer;
}
.input_field_container {
  position: relative;
}
.input_field_right_label {
  position: absolute;
  right: 10px;
  top: 14px;
  color: var(--greyText) !important;
}
.double_input_container {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  column-gap: 25px !important;
}
.double_input_container input {
  width: 92% !important;
}
.file_dropper_section {
  width: 500px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.placeholder {
  width: 40px;
}
.images_container {
  position: absolute !important;
  width: 95%;
  height: 80%;
  display: flex;
  /* padding-top: 20px; */
  /* padding-left: 20px; */
  overflow-y: scroll !important;
  row-gap: 8px;
  /* background-color: red; */
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  /* margin-bottom: 20px; */
  max-height: 130px;
  /* pointer-events: none; */
}
.property_pictures {
  min-width: 50px;
  min-height: 45px;
  max-width: 50px;
  max-height: 45px;
  object-fit: contain;
  border: 1px solid grey;
}
.more_images_adder {
  min-width: 50px;
  min-height: 45px;
  max-width: 50px;
  max-height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--orangeText);
  cursor: pointer;
  position: relative;
}
.more_images_adder p {
  color: var(--orangeText) !important;
  font-size: 25px;
}
.more_images_adder input[type="file"] {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer !important;
  height: 100% !important;
}
.dropper_content {
  /* border: 1px solid white !important; */
  position: absolute !important;
  top: 25px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  pointer-events: none;
  z-index: 20 !important;
  background-color: var(--background) !important;
  opacity: 1 !important;
}
.fake_image_dropper_area {
  width: 100% !important;
  height: 156px !important;
  border: 1px solid rgba(177, 177, 177, 0.18) !important;
  border-radius: 10px !important;
}
.drag_img_text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--foreground) !important;
  font-family: "DMSans-Regular" !important;
  opacity: 0.5;
}
.choose_image_text {
  color: var(--orangeText) !important;
  font-family: "DMSans-Regular" !important;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  pointer-events: none;
}
/* .pic_input {
  position: absolute;
  left: 0px;
  top: 0%;
  width: 100%;
  height: 100%;
} */
.dropper_content input[type="file"] {
  /* position: absolute;
  left: 0;
  top: 0; */
  opacity: 0.2;
  cursor: pointer !important;
  /* height: 100% !important; */
}
.tags_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 8px;
  margin-top: 30px;
}
.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-right: 20px;
  padding-left: 20px;
  height: 32px;
  background: #fcfcfc00;
  border: 1px solid var(--greyText) !important;
  border-radius: 40px;
}
.tag p {
  font-size: 10px !important;
}
@media only screen and (max-width: 786px) {
  .form_heading {
    width: 100%;
    text-align: left;
  }
  .subheading {
    width: 100%;
    text-align: left;
  }
  .btn_filled {
    width: 100%;
    margin-left: initial;
    padding-left: initial;
  }
  .input_container {
    width: 93%;
  }
  .input_container p {
    margin-left: -0px;
  }
  .double_input_container {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 0px;
    column-gap: 25px !important;
    width: 100%;
  }
  .double_input_container input {
    margin-left: 0px !important;
  }
  .double_input_container .input_container {
    width: 100% !important;
  }
  .double_input_container select {
    margin-left: 0px !important;
  }
  .select {
    margin-left: 0px !important;
  }
  .input_container .select {
    margin-left: 0px !important;
  }
  .double_input_container .input_container {
    width: 100% !important;
  }
  .file_dropper_section {
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form_body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
}
