.container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  transition: ease-in-out 200ms;
}
.container_map {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 200ms;
  position: relative;
  margin-top: 100px;
}
.content_container {
  width: 95%;
  height: 90%;
  margin-top: 125px;
  background: var(--darkGreyBackground);
  padding: 15px;
}
.properties_container_map_view {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 99vh;
  max-height: 99vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow-y: scroll;
}
.filter_section {
  width: 100%;
  height: 60px;
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 8fr 4fr;
  column-gap: 20px;
  padding-bottom: 15px;
}
.filter_section_map_view {
  width: 70%;
  height: 60px;
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 8fr 4fr;
  column-gap: 10px;
  padding-bottom: 15px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.properties_section {
  width: 100%;
  max-height: 500px;
  min-height: 500px;
  place-items: center;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  padding-top: 20px;
}
.search_icon {
  width: 24px;
}
.input_field {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 15px;
  padding-left: 20px;
  height: 90%;
  color: var(--foreground) !important;
}
.input_field:focus {
  outline: none;
}
.input_field::placeholder {
  color: rgb(187, 187, 187);
}
.search_bar {
  height: 100%;
  width: 97%;
  min-height: 60px;
  background-color: var(--background);
  border: 1px solid white !important;
  box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.158);
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  align-items: center;
  transition: ease-in-out 200ms;
  padding-left: 20px;
  /* justify-content: center; */
}

.rooms {
  padding-left: 12px;
  padding-right: 12px;
  height: 100%;
  background-color: var(--background);
  border: 1px solid white !important;
  box-shadow: 0px 0px 30px rgb(128 128 128 / 16%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  min-height: 60px;
}
.filters {
  padding-left: 12px;
  padding-right: 12px;
  min-height: 60px;
  background-color: var(--background);
  border: 1px solid white !important;
  height: 100%;
  box-shadow: 0px 0px 30px rgb(128 128 128 / 16%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.dropdown_img {
  width: 13px;
}
.max_price {
  padding-left: 12px;
  min-height: 60px;
  background-color: var(--background);
  border: 1px solid white !important;
  padding-right: 12px;
  height: 100%;
  box-shadow: 0px 0px 30px rgb(128 128 128 / 16%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 180px;
}
.map_view {
  min-height: 60px;
  width: 60%;
  height: 100%;
  background-color: var(--background);
  border: 1px solid white !important;
  box-shadow: 0px 0px 30px rgb(128 128 128 / 16%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;
}
.max_price p {
  font-size: 15px;
  color: var(--greyText) !important;
}
.rooms p {
  font-size: 15px;
  color: var(--greyText) !important;
}
.filters_img {
  padding-left: 12px;
  padding-right: 12px;
  width: 20px;
}
.location_pin {
  width: 30px;
}
.map_view p {
  font-size: 15px;
  color: var(--foreground) !important;
}
.filter_btns_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  height: 100%;
  min-height: 60px;
}
@media only screen and (max-width: 1400px) {
  .properties_section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1060px) {
  .properties_section {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 707px) {
  .properties_section {
    grid-template-columns: 1fr;
    height: fit-content;
    max-height: initial;
  }
}
@media only screen and (max-width: 1200px) {
  .filter_section {
    width: 100%;
    height: fit-content;
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr;
    column-gap: 10px;
    padding-bottom: 15px;
    row-gap: 15px;
  }
  .map_view {
    display: none;
  }
  .max_price {
    width: 40%;
  }
  .filters {
    width: 20%;
  }
  .rooms {
    width: 40%;
  }
  .search_bar {
    width: 94%;
  }
  .content_container {
    margin-top: 80px;
    padding-top: 60px;
  }
}
